/* Content
--------------------------------------------- */

.content {

	@media only screen and (min-width: $standard-screen-width) {
		float: left;
		width: 65%;
	}
}

.sidebar-content .content {

	@media only screen and (min-width: $standard-screen-width) {
		float: right;
	}
}

.full-width-content .content,
.landing-page .content {

	@media only screen and (min-width: $standard-screen-width) {
		float: none;
		margin-right: auto;
		margin-left: auto;
	}
}

