// max-widths
$desktop-max-width: 1140px;

// Screen widths, Media queries - WC widths in WC variables

$large-screen-width: 1140px;
$standard-screen-width: 960px;
$small-screen-width: 600px;
$tablet-screen-width: 768px;
$mobile-screen-width: 320px;

