#progress-bar {
  width: 100%;
  background-color: #ff7f50;
}

#task-progress {
  width: 10%;
  height: 30px;
  background-color: #2196f3; //#04aa6d;
  text-align: center;
  line-height: 30px;
  color: white;
}
